* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height:auto;
    background-color: #0d0621;
    color: #a5bad0;
}

h1,
h2 {
    text-align: center;
}

img {
    display: block ;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8em 
    
     
    
   
}
body {
    background-color: #136975;
    font-family: 'Roboto', sans-serif;
}

ul {
    padding-left: 40px;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 30px;
  }

  .card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid rgb(227, 155, 113);
    box-shadow: 5px 10px #160F29;
    background-color: #c05e21;
  }
  